body{
margin: 0;
}
#header{
  width: 100%;
  height: 80px;
  background-color: grey;
  background: linear-gradient()
  margin: 0 auto;
}
.container{
width: 980px;
height: 82px;
margin: 0 auto;
}

.float-left{
float: left;
}

.float-right{
  float: right;
}
