<html>
    <head>
        <meta charset="UTF-8">
        <title>Error 404</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>

      <div id="header">
      <div class="container">
        <div class="float-left"></div>
          <div class="float-right">
              <a href="{{ url_for('home') }}">
                  <img src="/static/img/OMAC.png">
              </a>
          </div>
      </div>
      </div>
        <div id="main">
          <div class="container">
            <div class="float-left">
                <p><h1>Ooops !</h1></p>
                <p>Error 404!</p>
            </div>
          </div>
        </div>
      <div id="footer">
          <div class="container">
              <h4>Done by: 0xThamer</h4>
          </div>
      </div>
    </body>
</html>