<!DOCTYPE html>
<html>
  <head>
        <meta charset="UTF-8">
        <title>One Million Arab Coders</title>
        <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>

         <div id="header">
           <div class="container">
             <div class="float-left"></div>
             <div class="float-right">
                 <img src="/static/img/OMAC.png">
             </div>
           </div>
         </div>

       <div id="main">
           <div><a href="#">Create</a></div>
           <div>
             {% for post in posts %}
               <table>
                   <tr>
                       <td>
                           {{post.title}}
                       </td>

                       <td>
                           <a href="#">Edit</a>
                       </td>

                       <td>
                           <a href="#">Delete</a>
                       </td>
                   </tr>
             </table>
             {% endfor %}
           </div>
       </div>
  </body>
</html>