<!DOCTYPE html>
<html>
  <head>
        <meta charset="UTF-8">
        <title>One Million Arab Coders</title>
        <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div class="float-left"></div>
        <div class="float-right">
          <a href="{{ url_for('home') }}"><img src="/static/img/OMAC.png"></a>
          </div>
      </div>
    </div>

       <div id="main">
         <div class="container">
           <a href="{{ url_for('topic_add') }}">Create</a>
           <div>
               <table>
                 <thead>
               <tr>
                   <th>
                       Title
                   </th>

                   <th>
                       Show
                   </th>

                   <th>
                       Edit
                   </th>

                   <th>
                       Delete
                   </th>
               </tr>
           </thead>
                   <tbody>
                       {% for post in posts %}
                       <tr>
                           <td>
                               {{post.title}}
                           </td>

                           <td>
                               <a href="{{ url_for('topic_show', id = post.id) }}">Show</a>
                           </td>
                           <td>

                               <a href="{{ url_for('topic_edit', id = post.id) }}">Edit</a>
                           </td>

                           <td>
                               <a href="{{ url_for('topic_delete', id = post.id) }}">Delete</a>
                           </td>

                       </tr>
                       {% endfor %}
                   </tbody>
              </table>
        </div>
      </div>
       </div>
       <div id="footer">
         <div class="container">
           <h4>Done by: 0xThamer</h4>
         </div>
       </div>
  </body>
</html>
