<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Topic Edit </title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div id="header">
    <div class="container">
      <div class="float-left"></div>
        <div class="float-right">
            <a href="{{ url_for('home') }}">
                <img src="/static/img/OMAC.png">
            </a>
        </div>
    </div>
  </div>

  <div id="main">
    <div class="container">
        <div class="input-form">
          <form  action="{{ url_for('topic_edit', _id = post.id) }}" method="post">

            <input type="text" name="title">
            <br>
            <input type="text" name="content">
            <input type="submit" value="update">

          </form>
        </div>
    </div>
  </div>

  </body>
</html>
